body {
  background-color: #121212;
}

.header {
  margin: auto;
  text-align: center;
  font-size: 1.5rem;
  padding-bottom: 20px;
  color: goldenrod;
}

.logo-header {
  margin: auto;
  text-align: center;
  padding-bottom: 2%;
  font-size: 1.25rem;
  color: whitesmoke;
}

hr {
  width: 40%;
  margin: auto;
  border: 1px solid goldenrod;
}

.main-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20rem;
  padding-top: 5%;
  padding-bottom: 5%;
}

.logos {
  /* size: 1rem; */
  margin-top: 2%;
  text-align: center;
  /* padding: 0px 50px; */
}

.logo {
  width: 6%;
  padding-left: 1%;
  padding-right: 1%;
}

p {
  text-align: center;
  font-size: 2.5rem;
  color: aliceblue;
  margin-top: 5%;
  margin-bottom: 10%;
}

/* .main-logo {
  width: 50%;
} */
